/*** FONTS ***/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i&subset=latin-ext');

/*** COLORS ***/
:root {
    --lightGrey: #5F5E76;
    --orange: #F26921;
    --darkGrey: #43435A;
    --fontColor: #4A4A4A;
    --red: #D0011B;
    --category: #F5F5F5;
    --categoryBorder: #858585;
    --green: #3E8E27;
    --yellow: #EE962C;
    --grey: #BCBBC0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--fontColor);
}

/*** GENERAL ***/

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    color: var(--orange);
    text-decoration: none;
}

h1 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 16px;
}

img {
    max-width: 100%;
}

/*** LINKS ***/

a {
}

/* unvisited link */
a:link {
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
}

/* selected link */
a:active {
}

/*** GENERAL HEADER ***/

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.headerLogo {
    margin: 0 auto;
    align-self: center;
}

.headerTitle {
    display: none;
}

.header {
    padding: 10px;
}

.header {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

/*** GENERAL NAV ***/

nav {
    background-color: var(--lightGrey);
    margin: 0;
    padding: 0;
    width: 100%;
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navElement {
    padding: 12px 15px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.navElement:hover {
    background-color: var(--orange);
}

/*** GENERAL MAIN ***/

main {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

article h1 {
    max-width: 90%;
    margin: 20px auto 15px;
}

article p {
    line-height: 24px;
    max-width: 90%;
    margin: 15px auto;
}

/*** GENERAL FOOTER ***/

footer {
    text-align: center;
    margin: 0 auto;
}

footer a {
    font-size: 12px;
    opacity: .3;
    color: #000;
}

/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main, .budgetTable {
    flex: 1;
}

footer address {
    font-style: normal;
}

/*** GENERAL HOVERABLE ***/

.buttonDiv {
    text-align: center;
    margin: 30px auto;
}

.button {
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    background-color: var(--orange);
    color: #fff;
    font-size: 20px;
    transition: background-color 0.3s, border-radius 0.3s;
}

.buttonDiv .button.grey {
    background-color: var(--lightGrey);
}

.button:hover, .button:enabled:hover {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid var(--orange);
    color: var(--orange);
}

.button:disabled {
    opacity:0.3;
}

/*** LANDING PAGE ***/

#linkHome, #linkLoginPage {
    background: no-repeat left center;
    background-size: contain;
    padding-left: 30px;
}

#linkHome {
    background-image: url('../images/icons/home.png');
}

#linkLoginPage {
    background-image: url('../images/icons/avatar.png');
}

.quote {
    margin: 0 auto;
    padding: 0;

    max-width: 350px;

    text-align: center;
    font-weight: 100;
    font-style: italic;
    color: #000;
    opacity: 0.4;
}

.quote p {
    font-size: 18px;
}

.quoteAuthor {
    text-align: right;
    margin-right: 10px;
}

/*** SIGN UP PAGE ***/

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formElement {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
}

.formElement span {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
}

.formElement input {
    border-radius: 3px;
    border: 1px solid var(--darkGrey);
    font-size: 18px;
    font-weight: 300;
    padding: 5px 10px;
    outline: none;
}

.formElement input:focus {
    border: solid 1px var(--orange);
    box-shadow: 0 0 5px var(--orange);
}

.inputError {
    border: solid 1px var(--red);
    box-shadow: 0 0 5px var(--red);
}

span.formErrorMsg {
    margin-top: 5px;
    font-weight: 300;
    color: var(--red);
    font-size: 13px;
}

span.formErrorMsg.ok {
    display: none;
}

#noAccountYet {
    text-align: center;
}

@keyframes disappear {
    0% { opacity: 0.2; }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.dbMsg {
    color: var(--red);
    text-align: center;
    font-weight: 400;
    animation: disappear 1s ease-out 1s infinite;
}

.dbMsg.ok {
    color: var(--green);
    font-size: 20px;
}

/*** INTRODCTION ***/

.greyTextBaner {
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 15px 0;
    background-color: var(--lightGrey);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.stepsList {
    max-width: 90%;
    margin: 15px auto;
    padding: 0;
}

.stepsList .stepLine {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--orange);
}

/*** BUDGET ***/

/* slightly transparent fallback */
.budgetHeader, .transactionsHeader {
    background-color: rgba(67, 67, 90, .9);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .budgetHeader, .transactionsHeader {
        background-color: rgba(67, 67, 90, .5);
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
    }
}

/* Fixed headers */

.budgetHeader, .transactionsHeader {
    color: #fff;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.tableEditor {
    position: fixed;
    top: 69px;
    z-index: 1;
}

.transactionsTable {
    margin-top: calc(69px + 37px);
}

.budgetTable .budDesc {
    position: fixed;
    top: 105px;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    z-index: 1;
}

.budDesc .budDescName {
    text-align: left;
}

.budDesc .budDescAmount {
    text-align: right;
}


/* slightly transparent fallback */
.budgetTable .budDesc, .tableEditor {
    background-color: rgba(255, 255, 255, .9);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .budgetTable .budDesc, .tableEditor {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
    }
}

/* Budget header */

.budgetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex: 1;
}

/* Header elements (on the right side) */

.headerElements {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 5px 30px 10px 0;
}



/* Month */

.monthDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0 10px;
}

.curMonth {
    font-size: 22px;
    font-weight: 600;
    margin: 0 20px;
}

/* To budget */

.toBudgetDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 5px 20px;
}

.toBudgetDiv.greenAmount {
    background-color: var(--green);
}

.toBudgetDiv.yellowAmount {
    background-color: var(--yellow);
}

.toBudgetDiv.redAmount {
    background-color: var(--red);
}

.toBudgetAmount, .toBudgetDesc {
    margin: 0 auto;
}

.toBudgetAmount {
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 1px 3px #000;
}

.toBudgetDesc {
    font-size: 12px;
    opacity: 0.5;
}

/* Budget table */

.budgetTableSection {
    padding-top: 135px;
}

table.budgetTable {
    width: 100%;
    border-collapse: collapse;
}

/*.budDescName*/ .budGroupName, .budCatName, .budSumName {
    text-align: left;
    width: 40%;
}

/*.budDescAmount, */.budGroupAmount, .budCatAmount, .budSumAmount {
    text-align: right;
    width: 20%;
}

.hideable {
    display: none;
}

/* Description row */
.budgetTable th {
    padding: 5px 10px;
    border-top: 1px solid var(--categoryBorder);
    border-bottom: 1px solid var(--categoryBorder);
}

.budDesc > * {
    color: var(--orange);
    font-weight: 300;
}

/* Group row */

.budgetTable td {
    border-bottom: 1px solid var(--categoryBorder);
    border-left: 0;
    border-right: 0;
}

.budGroup td {
    padding: 15px 10px;
    background-color: var(--lightGrey);
    color: #fff;
}

.budGroup img {
    vertical-align: sub;
    margin-left: 5px;
}

/* Category */

.budCategory td {
    padding: 12px 10px;
    background-color: var(--category);
}

.budCategory span {
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.budCategory span.greenAmount {
    background-color: var(--green);
}

.budCategory span.yellowAmount {
    background-color: var(--yellow);
}

.budCategory span.greyAmount {
    background-color: var(--grey);
}

/* New group */

.budNewGroup td {
    padding: 10px;
}

.budNewGroup {
    font-weight: 300;
    font-size: 16px;
    padding-left: 20px;
}

#newGroupTD {
    background: no-repeat left;
    background-size: 25px;
    background-position: 10px;
    padding-left: 40px;
    background-image: url("../images/icons/svg/plus-lightgrey.svg");
}

/* Sum */

.budSum td {
    padding: 15px 10px;
    border-bottom: none;
}

.budSum {
    background-color: var(--orange);
    color: #fff;
}

/* Menu Container */

.mainMenuContainer {
    background-color: var(--orange);
    color: #fff;
    /*display: flex;*/
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 90%;
    z-index: 3;
    position: fixed;
    top: 0;
    left: -95%;
    bottom: 0;
    transition: left 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 5px #888888;
}

/* Main menu */

.mainMenu .closeSign, .hamburger button {
    background: none;
    border: none;
}

/* Menu logo */

.menuLogo {
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuLogo .logo {
    width: 100px;
    height: 60px;
}

/* Menu buttons */

.menuButton {
    padding: 15px 10px;
    font-size: 26px;
    display: block;
    margin: 5px 0;
}

.menuButton {
    background: no-repeat left;
    background-size: 40px;
    background-position: 10px;
    padding: 10px 0 10px 70px;
    transition: background-color 0.5s;
}

.budgetButton {
    background-image: url("../images/icons/svg/budget-white.svg");
}

.transactionsButton {
    background-image: url("../images/icons/svg/transactions-white.svg");
}

.reportsButton {
    background-image: url("../images/icons/svg/reports-white.svg");
}

.inactiveMenu {
    opacity: 0.5;
    cursor: default;
}

.activeMenu {
    background-color: #fff;
}

.budgetButton.activeMenu {
    color: var(--orange);
    background-image: url("../images/icons/svg/budget-orange.svg");
}

.transactionsButton.activeMenu {
    color: var(--orange);
    background-image: url("../images/icons/svg/transactions-orange.svg");
}

.reportsButton.activeMenu {
    color: var(--orange);
    background-image: url("../images/icons/svg/reports-orange.svg");
}

.menuButton:hover {
    color: var(--orange);
    background-color: #fff;
}

.budgetButton:hover {
    background-image: url("../images/icons/svg/budget-orange.svg");
}

.transactionsButton:hover {
    background-image: url("../images/icons/svg/transactions-orange.svg");
}

.reportsButton:hover {
    background-image: url("../images/icons/svg/reports-orange.svg");
}

/* Add account */

.addAccount {
    display: inline-block;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
}



.addAccount:hover {
    opacity: 0.7;
    cursor: pointer;
}

.mainMenuContainer .addAccount .addAccountButton {
    background: no-repeat left;
    background-size: 20px;
    background-position: 10px;
    background-image: url("../images/icons/svg/plus.svg");

    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}

/* Add account modal view */

.newAccountModal {
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
    z-index: 3;
    left: 0;
    top: -750px;
    transition: top 0.4s;
    box-shadow: 0px 0px 10px 5px #888888;
    background-color: rgba(200, 200, 203, 0.5);
    overflow-x: hidden;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalHeader .modalTitle,
.modalHeader .closeSign {
    margin-left: 15px;
    margin-right: 15px;
    background: none;
}

.modalHeader .modalTitle {
    font-weight: 600;
    font-size: 26px;
    text-align: left;
}

.modalHeader .closeSign {
    display: block;
}

.modalHeader button {
    background-color: #fff;
    border: none;
}

.newAccountModal .formDiv {
    padding-top: 20px;
    border: 1px solid var(--orange);
    background-color: #fff;
}

.radioForm {
    width: 300px;
}

.radioTitle {
    display: block;
}

.radioInputs {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--lightGrey);
    padding: 10px;
}

.radioInput {
    display: flex;
}

.radioInput input {
    margin-right: 5px;
}

.radioInput span {
    width: 100px;
}

.newAccountModal h4 {
    align-self: flex-start;
    margin: 10px 10px;
    padding: 0;
}

.newAccountModal p {
    margin: 5px 10px;
}

.newAccountModal .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.newAccoutnModal .buttonDiv {
    margin: 10px 10px;
}

.newAccountModal .buttons .button {
    padding: 8px 35px;
}

/* Delete account */

.accountNameDiv {
    padding: 5px;
}

.deleteAccountButton {
    border: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-image: url("../images/icons/svg/delete-white.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
}

.delConfirmationDiv {
    text-align: center;
    display: none;
    position: relative;

}

@keyframes slideRight {
    0% { left: -80px; opacity: 0; }
    25% { left: -60px; opacity: 0.25;}
    50% {  left: -40px; opacity: 0.5; }
    75% {  left: -20px; opacity: 0.75; }
    100% {  left: 0; opacity: 1; }
}

@keyframes slideLeft {
    0% { left: 0px; opacity: 1; }
    25% { left: -20px; opacity: 0.75;}
    50% {  left: -40px; opacity: 0.5; }
    75% {  left: -60px; opacity: 0.25; }
    100% {  left: -80px; opacity: 0; }
}

.delConfirmationDiv div {
    display: flex;
    justify-content: center;
}

.accountDiv {
    position: relative;
}


/* Menu accounts */

.menuAccounts {
    margin-top: 40px;
}

.accountsDesc {
    margin-bottom: 5px;
    padding-left: 15px;
}

.accountDescName {
    text-transform: uppercase;
    font-size: 12px;
}

.accountDescSum {
    font-size: 15px;
    font-weight: 600;
    padding-right: 12px;
}

.accounts {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
}

.account {
    padding-left: 20px;
    padding-right: 12px;
    margin-top: 3px;
}

.accountsDesc, .account {
    display: flex;
    justify-content: space-between;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mainMenuContainer .settingsButton {
    background: none;
    width: 60px;
    height: 60px;
    text-align: left;
    cursor: pointer;
    margin: 10px;
    padding: 0;
    border: none;
}

.rotating:hover {
    animation: rotating 2s linear infinite;
}

/*** TRANSACTIONS ***/

/* Header */

.transactionsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 10px;
}

.transactionsHeadElements {
    width: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: space-between;
}

.transHeadAccountName {
    background-color: var(--orange);
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 1px 3px #000;
}

.transHeadAccountBalances {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.transactionsHeader .col {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
}

.transactionsHeader .col .desc {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
}

.transactionsHeader .col:last-child .balance {
    font-weight: 600;
}

.transactionsHeader .col:nth-child(-n + 4) {
    display: none;
}

/* Menu */

.mainMenu .account.active,
.mainMenu .account:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Transactions table editor */



.tableEditor {
    display: grid;
    grid-template-rows: 35px;
    grid-template-columns: 170px auto 50px;
    border-top: 1px solid var(--categoryBorder);
    border-bottom: 1px solid var(--categoryBorder);
    align-items: center;
}

.transactionsSection .tableEditor #addTransaction div {
    display: flex;
    align-items: center;
}

.tableEditor #addTransaction div img {
    margin-left: 8px;
    margin-right: 5px;
}

.tableEditor #editTransaction,
.tableEditor #deleteTransaction {
    display: none;
}

/* Transactions table */

table.transactionsTable {
    width: 100%;
    border-collapse: collapse;
}

.transactionRow {
    border-bottom: 1px solid var(--categoryBorder);
    background-color: var(--category);
}

.tranElem {
    font-size: 16px;
    padding: 5px 0;
}

.tranDate, .tranName, .tranCat {
    text-align: left;
}

.tranDate {
    width: 10%;
    padding-left: 5px;
    padding-right: 5px;
}

.tranDate.tranElem {
    font-style: italic;
    font-weight: 100;
}

.transactionRow .small {
    width: 100%;
}

.tranName.tranElem {
    font-weight: 600;
}

.tranCat.tranElem {
    opacity: 0.5;
    font-size: 14px;
    font-style: italic;
}

.tranCost {
    text-align: right;
    width: 30%;
}

.tranCost.tranElem {
    font-weight: 600;
}

.tranAccept {
    text-align: center;
    width: 15%;
}

.tranAccept.not {
    opacity: 0.3;
}

/* Small screen tran name */

.tranElem.hid, .tranDesc {
    display: none;
}

.transactionRow .small {
    display: flex;
    flex-flow: column;
}

/*** SETTINGS ***/

#blurDiv, #blurDiv2 {
    transition: filter 0.7s;
}

.settingsModal {
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: -500px;
    transition: top 0.4s;
    box-shadow: 0px 0px 10px 5px #888888;
    overflow-y: auto;
    background-color: rgba(200, 200, 203, 0.5);
}


/* Header */

.settingsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsHeader .settingsTitle,
.settingsHeader .closeSign {
    margin-left: 15px;
    margin-right: 15px;
    background: none;
}

.settingsHeader .settingsTitle {
    font-weight: 600;
    font-size: 26px;
}

.settingsHeader .closeSign {
    display: block;
}

.settingsHeader button {
    background-color: #fff;
    border: none;
}

/* Tabs */

.settingsTabs {
    background: none;
    color: var(--fontColor);
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.settingsTab {
    width: 50%;
    border-left: 1px solid var(--categoryBorder);
    border-top: 1px solid var(--categoryBorder);
    border-right: 1px solid var(--categoryBorder);
    padding: 10px 0px 10px 10px;
    background-color: #fff;
}

.settingsTab.activeTab {
    padding: 15px 0px 15px 10px;
    align-self: center;
    border-left: 1px solid var(--orange);
    border-top: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
}

.settingsTab.notActiveTab {
    align-self: flex-end;
    border-left: none;
    border-bottom: 1px solid var(--orange);
}

.settingsModal .formDiv {
    border-left: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
    background-color: #fff;
}

/* Buttons */

.settingsModal .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.settingsModal .buttonDiv {
    margin: 10px 10px;
}

.settingsModal .buttons .button {
    padding: 8px 35px;
}